.footer{
    width: 100%;
    margin: 96px 0 0 0;
    background-color: #193a79;
    color: #fff;
}

.footer-essence{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 32px 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-contact{
    width: 360px;
}

.f-h4{
    font-size: 20px;
    font-weight: 400;
    border-bottom: #D22B2B 2px solid;
    padding: 0 0 8px 0;
    margin: 0 0 16px 0;
    width: 100%;
    font-style: normal;
}

.f-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.f-li{
    display: inline-block;
}

.f-a{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-style: italic;
}

.f-address{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.f-a:hover .f-span{
    text-decoration: underline;
}

.f-img-cont{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
}

.f-phone{
    height: 24px;
    width: 24px;
    position: relative;
    left: 3px;
}

.f-location{
    height: 21px;
    width: 21px;
}

.f-email{
    height: 18px;
    width: 18px;
}

.f-fax{
    height: 22px;
    width: 22px;
}

.f-pages{
    width: 200px;
}

.fp-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.f-link:hover {
    text-decoration: underline;
}