.contact{
    width: 100%;
    max-width: 1280px;
    padding: 0 32px;
    margin: 96px auto 0 auto;
}

.c-h2{
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.contact-essence{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 0 0 0;
}

.contact-left{
    width: 440px;
    background-color: #193a79;
    padding: 24px;
    border-radius: 8px;
    color: #fff;
}

.c-h3{
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #D22B2B;
    padding: 8px 0 24px 24px;
    margin: 0 0 16px 0;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}

.c-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c-li{
    display: inline-block;
}

.c-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-style: normal;
    font-size: 16px;
    padding: 8px 16px;
}

.c-a:hover{
    background-color: #0e2144;
}

.c-address{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.c-img-cont{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
}

.c-phone{
    height: 24px;
    width: 24px;
    position: relative;
    left: 3px;
}

.c-location{
    height: 21px;
    width: 21px;
}

.c-email{
    height: 18px;
    width: 18px;
}

.c-fax{
    height: 22px;
    width: 22px;
}

.contact-right{
    width: 740px;
}