.message-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mf-form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mf-input,
.mf-textarea {
    padding: 12px;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
    border: 1px solid #aaa;
    /* Adds a custom border color */
}

input:focus,
textarea:focus {
    outline: none;
    /* Removes the default browser outline */
    border: 1px solid #4A90E2;
    /* Adds a custom border color */
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    /* Optional glowing effect */
}

.mf-btn-cont {
    width: 100%;
}

.mf-btn {
    margin: 16px 0 0 0;
    width: 40%;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #193a79;
    transition: 0.2s ease-in-out;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.mf-btn:hover {
    background-color: #D22B2B;
}

.message-send{
    height: 26px;
}