.nl-2{
    width: 100%;
    border-bottom: 1px solid #576a8f;
}

.nl-2-top{
    background-color: #fff;
    width: 100%;
    height: 96px;
    transition: 0.3s ease-in-out;
}

.nl-2-top.scrolled{
    height: 0;
    pointer-events: none;
}

.nl-2-top.scrolled .nl-2-top-essence{
    opacity: 0;
}

.nl-2-top-essence{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.nl-2-top-left{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.nl-2-logo-cont{
    height: 56px;
    transition: 0.3s ease-in-out;
}

.nl-2-logo{
    height: 100%;
}

.nl-2-logo-text{
    color: #193a79;
    transition: 0.3s ease-in-out;
}

.nl-2-top-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    transition: 0.3s ease-in-out;
}

.nl-2-tr-a{
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 8px;
}

.nl-2-tr-a:hover{
    text-decoration: underline;
}

.nl-2-tr-location{
    height: 16px;
}

.nl-2-tr-phone{
    height: 20px;
}

.nl-2-tr-email{
    height: 16px;
}

.nl-2-bot{
    height: 64px;
    width: 100%;
    background-color: #193a79;
}

.nl-2-nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 36px;
}

.nl-2-ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nl-2-logo-small{
    height: 100%;
    width: 0;
    overflow: hidden;
    pointer-events: none;
    transition: 0.4s ease-in-out;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}

.nl-2-logo-small.scrolled{
    height: 100%;
    width: 160px;
    pointer-events: all;
}

.nl-2-img-small-cont{
    height: 48px;
    width: 48px;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.nl-2-img-small{
    height: 100%;
}

.nl-2-li{
    height: 100%;
    border-right: 1px solid #576a8f;
    display: flex;
    position: relative;
}

.nl-2-li-first{
    border-left: 1px solid #576a8f;
}

.nl-2-a{
    position: relative;
    display: block;
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #fff;
    border-top: 4px solid #193a79;
    border-bottom: 3px solid #193a79;
}

.nl-2-a:hover{
    height: 65px;
    background-color: #132d5c;
    border-top: 4px solid #132d5c;
    border-bottom: 4px solid #D22B2B;
}

.nl-2-arrow{
    height: 24px;
}

.dd-menu-cont{
    pointer-events: none;
    overflow: hidden;
    padding: 0 24px 24px 24px;
    position: absolute;
    top: 65px;
}

.ddmc-l{
    width: 400px;
    left: -48px;
}

.ddmc-s{
    width: 280px;
    right: 50%;
    transform: translateX(50%);
}

.nl-2-onama-cont, .nl-2-vodic-cont, .nl-2-javnost-cont, .nl-2-lang-cont{
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.3s ease-in-out;
}

.nl-2-onama-li:hover .nl-2-onama-cont, .nl-2-vodic-li:hover .nl-2-vodic-cont, .nl-2-javnost-li:hover .nl-2-javnost-cont, .nl-2-lang-li:hover .nl-2-lang-cont{
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
}

.nl-2-lang-btn{
    height: 100%;
    position: relative;
}

.nl-2-flag{
    height: 24px;
    margin: 0 16px 0 0;
}