.back-top-btn-positioner{
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: #193a79;
    transition: 0.2s ease-in-out;
}

.bt-btn:hover{
    background-color: #D22B2B;
}

.bt-btn-arrow{
    width: 28px;
    height: 28px;
    transition: 0.2s ease-in-out;
}

.bt-btn-text{
    color: #fff;
}