* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #111;
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}